* {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

html, body {
    height: 100%;
}

/* Hide sections until the click events */
#questions {
    display: none;  
} 

/* Remove bullet points from answers list */
ul.remove-bullets {
    list-style-type: none;
}

/* High Score */
#view-scores {
    box-shadow: none;
    outline: none;
    background-color: #744806;
}

/* Buttons */
#start,
.answerButton {
    box-shadow: none;
    outline: none;
    background-color: #e28d0d;
}